body {
    background-color: greenyellow;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    padding: 20px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
}
/* Navigation */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f18e8e;
    font-size: larger;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.sidebox {
    width: 50%;
    background-color: #9bdaef;
    padding: 10px;
    font-size: 33px;
    margin: 0 0 15px 0;
    float:right;
}
/* images */
.pic1 {
    width: 45%;
    float: left;
}

.pic2 {
    width: 30%;
    height: 50%;
    float: right;
    padding-bottom: 10px;
    border-radius: 50%;
    box-shadow: 5px 5px 8px #f07373;

}
/* class table  */
table {
    width: 60%;
    float: left;


}

table,
th,
td {
    border: 2px solid;
}

tr:nth-child(even) {
    background-color: cornsilk;
}

tr:nth-child(odd) {
    background-color: rgb(219, 233, 139);
}

th {
    height: 30px;
    background-color: rgb(230, 198, 72);
}

td {
    text-align: center;
}

th,
td {
    padding: 15px;
}

/* Contact us  */
.container {
    margin: auto;
    width: 70%;
    background-color: rgb(215, 240, 250);
    padding: 15px;
    border-radius: 5px;
    
}

label {
    display: block;
    padding-bottom: 10px;
    position: relative;
}

input {
    position: absolute;
    left: 25%;
    width: 20%
}

.submit {
    width: fit-content;
    position: initial
}


