body {
    background-color: greenyellow
}

.header {
    padding: 20px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
}

.sidebox  {background-color: #9bdaef;
padding: 20px;
font-size: 13px;
margin: 0 0 15px 0;
}

.pic1 {width: 50%;
    float:left;
}

.pic2{width: 30%;
    height: 50%;
float:right;
padding-bottom: 30px;
}

table {
    width: 60%;
    float:left;
    

}

table,
th,
td {
    border: 2px solid;
}

tr:nth-child(even) {
    background-color: cornsilk;
}

tr:nth-child(odd) {
    background-color: rgb(219, 233, 139);
}

th {
    height: 30px;
    background-color: rgb(230, 198, 72);
}

td {
    text-align: center;
}

th,
td {
    padding: 15px;
}